body {
    font-size: 30px;
}

header.test_name {
    font-size: 80px;
}

header.section {
    padding-top: 30px;
    font-size: 30px;
    text-decoration: underline;
}

.desc {
    font-size: 30px;
}

ul.conditions {
    font-size: 22px;
}

.variables {
    font-size: 20px;
}

.output {
    font-size: 24px;
}

.warning {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 106, 0);
}